???
{{#with (match @root.images (concat paths.dir '/*.{png,gif,jpg}')) as |gallery|}}
???
    <div id="gallery">
      {{#each gallery}}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="{{paths.name}}" src="{{paths.href}}"
				      data-image="{{paths.href}}"
				      data-description="{{xpm.description}}">
          <div class="card-body">
            <h5 class="card-title">{{xmp.title}}</h5>
            <p class="card-text">{{xmp.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>

{{/with}}

		
